<div>
    <h2 id="page-heading">
        <span>Week Manus</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-week-manu" [routerLink]="['/week-manu/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Week Manu
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="weekManus?.length === 0">
        <span>No weekManus found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="weekManus?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Menu</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let weekManu of weekManus ;trackBy: trackId">
                    <td><a [routerLink]="['/week-manu', weekManu.id, 'view']">{{ weekManu.id }}</a></td>
                    <td>
                        <a *ngIf="weekManu.menu" (click)="openFile(weekManu.menuContentType, weekManu.menu)">open</a>
                        <span *ngIf="weekManu.menu">{{ weekManu.menuContentType }}, {{ byteSize(weekManu.menu) }}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/week-manu', weekManu.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/week-manu', weekManu.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(weekManu)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
